.success-section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #e6f0f4, #ffffff);
    color: #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
  }
  
  .success-title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: bold;
  }
  
  .steps-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .step-card {
    background: white;
    /* color: #0f2027; */
    color: #2c3e50;
    padding: 2rem;
    border-radius: 20px;
    width: 300px;
    /* max-width: 300px; */
    /* width: 250px; */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.8s ease;
  }
  
  .step-card.visible {
    transform: translateY(0);
    opacity: 1;
  }
  
  .step-card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .step-card p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  /* Адаптив */
  @media (max-width: 1050px) {
    .steps-container {
      flex-direction: column;
      gap: 1.5rem;
    }
  
    .success-title {
      font-size: 2rem;
    }
  
    .step-card {
      width: 100%;
    }
    .success-section {
      height: auto;
    }
    /* .step-card{
      width: 370px;
    } */
  }

  