.slider-container {
  position: relative;
  width: 100%;
  height: 98vh;
  top: -20px;
  overflow: hidden;
  background: black;
}

.slider-slide {
  width: 100%;
  height: 100%;
  transition: transform 0.1s ease;
}

.slider-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Анимация влево */
/* Мягкое появление влево */
.slide-left {
  animation: slideLeft 0.6s ease forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(40%);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Мягкое появление вправо */
.slide-right {
  animation: slideRight 0.6s ease forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(-40%);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Стрелки */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: background 1s;
}

.arrow:hover {
  background: rgba(0,0,0,0.6);
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: translate(-50%, -50%) rotate(45deg);
}

.left::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

/* Скрываем стрелки на мобилке */
@media (max-width: 768px) {
  .arrow {
    display: none;
  }
}
